{% extends 'base.html.twig' %}
{% block content %}
    <div class="contacts">
        <div class="img"><img src="{{ asset('images/layout/z_95ab308b.jpg') }}" width="300" height="450" alt=""></div>
        <div class="content">
            <p>Меня зовут Ольга Малкова.<br>
                Я профессиональный фотограф.<br>
                Провожу репортажную и студийную съемку.</p>
            <p>Со мной Вы можете связаться по телефону:</p>
            <p>+7 (911) 2993121 (СПб)<br>
                +7 (925) 0380663 (Мск)</p>
            <p>или написать на e-mail:</p>
            <p>photo@malkova-olga.ru</p>
        </div>
    </div>
{% endblock %}