{% extends 'base.html.twig' %}
{% block content %}
    <div class="contacts">
        <h1 style="font-size: 26px; margin-bottom: 10px;">Публикации</h1>
        {% if publications|length >0  %}
            <ul class="publications">
                {% for item in publications %}
                    <li>
                        <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                    </li>
                {% endfor %}

            </ul>
        {% else %}
            Еще не добавленно, ни одной публикации
        {% endif %}
    </div>

{% endblock %}